<%- include('../partials/header') %>

<h1>This is Skills</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Skill</th>
      <th>Exam Score</th>
    </tr>
  </thead>
  <tbody>
    <% skills.forEach(function(t) { %>
      <tr>
        <td><a href="/skills/<%= t.id %>"><%= t.skill %></a></td>
        <td><%= t.skillTest %></td>
        <td>
          <!-- <form action="/skills/<%= t.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">X</button>
          </form> -->
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

<p>
I guess this could be skills..
</p>
